$rnd_k: 4px;
$bdr_n: 3;

.rnd {
  border-radius: $rnd_k;
  &#{-50} {
    border-radius: 50%;
  }
  &#{-b} {
    border-bottom-left-radius: $rnd_k;
    border-bottom-right-radius: $rnd_k;
  }
  &#{-l} {
    border-bottom-left-radius: $rnd_k;
    border-top-left-radius: $rnd_k;
  }
  &#{-r} {
    border-bottom-right-radius: $rnd_k;
    border-top-right-radius: $rnd_k;
  }
  &#{-t} {
    border-top-left-radius: $rnd_k;
    border-top-right-radius: $rnd_k;
  }
}

.bdr {
  @for $i from 0 through $bdr_n {
    &#{$i} {
      border-style: solid;
      border-width: $i * 1px;
    }
  }
}
