$displays: (
  b: block,
  f: flex,
  i: inline,
  ib: inline-block,
  if: inline-flex,
) !default;

$opacity: (n: 10) !default;
$z: (n: 3, step: 10) !default;

.d {
  @each $disp-k, $disp in $displays {
    &#{-$disp-k} {
      display: $disp;
    }
  }
}

.op {
  $n: map-get($opacity, "n");
  $step: getStep($n, 0, 1);
  @for $i from 0 through $n  {
    &#{$i} {
      opacity: round($i * $step, 2);
    }
  }
}

.overflow {
  &#{-no} {
    overflow: hidden;
  }
  @each $axis, $sides in $axes {
    &#{$axis} {
      overflow-#{$axis}: auto;
    }
  }
}

.z {
  $step: map-get($z, "step");
  $a: -1 * map-get($z, "n");
  $b: map-get($z, "n");
  @for $i from $a through $b {
    $val: $i * $step;
    &#{$val} {
      z-index: $val;
    }
  }
}
