$font-styles: (
  i: italic,
  n: normal,
);
$text-aligns: (
  center: center,
  end: end,
  justify: justify,
  start: start,
);
$text-decors: (
  no: none,
  over: overline,
  through: line-through,
  under: underline,
);

$f_a: 12px;
$f_b: $b1_3;
$f_n: 10;

.f {
  @for $i from 1 through $f_n {
    $font-size: getValue($i, $f_a, $f_b);
    &#{$i} {
      font-size: $font-size;
    }
  }
}
.fs {
  @each $style-k, $style in $font-styles {
    &#{-$style-k} {
      font-style: $style;
    }
  }
}
.ta {
  @each $align-k, $align in $text-aligns {
    &#{-$align-k} {
      text-align: $align;
    }
  }
}
.td {
  @each $decor-k, $decor in $text-decors {
    &#{-$decor-k} {
      text-decoration: $decor;
    }
  }
}
