$positions: (
  abs: absolute,
  fix: fixed,
  rel: relative,
  stat: static,
  stick: sticky,
) !default;

$pos: (b: 4px, growth: $b2_3, n: 10, p: 8) !default;

.pos {
  @each $position-k, $position in $positions {
    &#{-$position-k} {
      position: $position;
    }
  }
}

$b: map-get($pos, "b");
$growth: map-get($pos, "growth");
$n: map-get($pos, "n");
@for $i from 0 through $n {
  $val: getValue($i, $b, $growth);
  @each $axis-k, $axis in $axes {
    @each $side-k, $side in $axis {
      .#{$side-k}#{$i} {
        #{$side}: $val;
      }
    }
  }
}

$p: map-get($pos, "p");
$step: calc(100% / $p);
@for $i from 0 through $p {
  @each $axis-k, $axis in $axes {
    @each $side-k, $side in $axis {
      .#{$side-k}p#{$i} {
        #{$side}: $step * $i;
      }
    }
  }
}
