$size: (b: 12px, growth: $b2_3, n: 10, p: 10) !default;

$b: map-get($size, "n");
@for $i from 0 through $b {
  $val: getValue($i, map-get($size, "b"), map-get($size, "growth"));
  .h#{$i} {
    height: $val;
  }
  .w#{$i} {
    width: $val;
  }
}

$b: map-get($size, "p");
$step: calc(100 / $b);
@for $i from 1 through $b {
  $k: round($i * $step, 0);
  $val: $i * $step * 1%;
  .hp#{$k} {
    height: $val;
  }
  .wp#{$k} {
    width: $val;
  }
}
