@use "sass:math";

$size-n: 10;
$size-k: calc(100 / $size-n);

@for $i from 0 through $size-n {
  $size: 12px * math.pow($k15, $i);
  .h#{$i} {
    height: $size;
  }
  .w#{$i} {
    width: $size;
  }
}

@for $i from 1 through $size-n {
  $k: math.round($i * $size-k);
  $size: $i * $size-k * 1%;
  .hp#{$k} {
    height: $size;
  }
  .wp#{$k} {
    width: $size;
  }
}
