@use "sass:math";

$size_a: 12px;
$size_b: $b2_3;
$size_n: 10;

$size_p_n: 10;
$size_p: calc(100 / $size_n);

@for $i from 0 through $size_n {
  $size: getValue($i, $size_a, $size_b);
  .h#{$i} {
    height: $size;
  }
  .w#{$i} {
    width: $size;
  }
}

@for $i from 1 through $size_p_n {
  $k: math.round($i * $size_p);
  $size: $i * $size_p * 1%;
  .hp#{$k} {
    height: $size;
  }
  .wp#{$k} {
    width: $size;
  }
}
