$spacers: (
  m: margin,
  p: padding,
);

$space_a: 4px;
$space_b: $b2_3;
$space_n: 10;

@for $i from 0 through $space_n {
  $spacing: getValue($i, $space_a, $space_b);
  @each $spacer-k, $spacer in $spacers {
    .#{$spacer-k} {
      &#{$i} {
        #{$spacer}: $spacing;
      }
      @each $axis-k, $axis in $axes {
        &#{$axis-k}#{$i} {
          @each $side-k, $side in $axis {
            #{$spacer}-#{$side}: $spacing;
          }
        }
        @each $side-k, $side in $axis {
          &#{$side-k}#{$i} {
            #{$spacer}-#{$side}: $spacing;
          }
        }
      }
    }
  }
}
