$spacers: (
  m: margin,
  p: padding,
) !default;

$space: (b: 4px, growth: $b2_3, n: 10) !default;

$b: map-get($space, "n");
@for $i from 0 through $b {
  $spacing: getValue($i, map-get($space, "b"), map-get($space, "growth"));
  @each $spacer-k, $spacer in $spacers {
    .#{$spacer-k} {
      &#{$i} {
        #{$spacer}: $spacing;
      }
      @each $axis-k, $axis in $axes {
        &#{$axis-k}#{$i} {
          @each $side-k, $side in $axis {
            #{$spacer}-#{$side}: $spacing;
          }
        }
        @each $side-k, $side in $axis {
          &#{$side-k}#{$i} {
            #{$spacer}-#{$side}: $spacing;
          }
        }
      }
    }
  }
}
