$trn_a: 0.3s;
$trn_b: $b1_3;
$trn_n: 10;

$trn-functions: (
  ease: ease,
  in: ease-in,
  lin: linear,
  out: ease-out,
);

.trn {
  transition: all;
  @for $i from 0 through $trn_n {
    &#{$i} {
      transition-duration: getValue($i, $trn_a, $trn_b, 1);
    }
  }
  &#{-tf-} {
    @each $func-k, $func in $trn-functions {
      &#{$func-k} {
        transition-timing-function: $func;
      }
    }
  }
}
