$trn-functions: (
  ease: ease,
  in: ease-in,
  lin: linear,
  out: ease-out,
) !default;

$trn: (b: 0.3s, growth: $b1_3, n: 10) !default;

.trn {
  $b: map-get($trn, "b");
  $growth: map-get($trn, "growth");
  $n: map-get($trn, "n");
  transition: all;
  @for $i from 0 through $n {
    &#{$i} {
      transition-duration: getValue($i, $b, $growth, 1);
    }
  }
  &#{-tf-} {
    @each $func-k, $func in $trn-functions {
      &#{$func-k} {
        transition-timing-function: $func;
      }
    }
  }
}
